* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
 font-size: 100%;
}



/* For the nav bar */

nav {
    background-color: rgb(4, 104, 1);;
}

#myButton::before {
    content: "\2630"
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    border: rgb(0, 0, 0);
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
}

li.current-menu-item a {
    background-color:#1b1b46;
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

#myButton.open::before {
    content: "x";
}

ul.menuLinks.open {
    display: block;
    text-align: center;
}

.wayfind-link {
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(3, 70, 0);
}

/* footer */

footer {
    background-color:rgb(4, 104, 1);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer p {
    line-height: 25px;
}

.footer-info {
    margin: 20px
}

/* ///////////////////////////////// */


main {
    background-color: white;
}

#main-title {
    color: white;
    padding: 20px;
    font-size: 40px;
}

#hero-container {
    width: 100vw;
}
#hero-img {
    width: 100%;
    max-height: 400px;
    background-color: rgb(1, 68, 33);
    object-fit: contain;
}



form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    margin: 30px;

}

fieldset {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px;
}

.label {
    color: rgb(0, 63, 30);
    padding-bottom: 10px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

legend {
    padding-top: 10px;
    padding-bottom: 5px;
}
textarea {
    height: 60px;
}

button {
    background-color: rgb(4, 104, 1);
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 24px;

}

button:hover {
    
    background-color:rgb(0, 63, 30);
}

#form-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

/* information boxes */

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.info-box {
    padding: 20px;
}

#info-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#climb-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.climb-card {
    width: 400px;
    background-color: rgb(229, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}

.climb-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

#weather-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#weather-container h3, p {
    padding: 10px;
}

/* dialog */

#membership-details {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: .25rem;
    padding:1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    z-index: -2;
    
    color: black;
   
}

#membership-details h3 {
    color: black;
    padding: 30px;
    font-size: 30px;
}


dialog p {
    padding: 10px;
    text-align: center;
}

dialog {
   
    width: 85%;
    height: 30%;
    top: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

dialog button {
    position: absolute;
    top: 20px;
    width: 45px;
    right: 20px;
    text-align: center;
}

#close-modal:hover {
   font-weight: bold;
   background-color: #1b1b46;
}

::backdrop {
    background-color: rgba(0,0,0,.5);
}

dialog button {    
    padding: .5rem 1rem;
    border: 1px solid rgba(0,0,0,0.1);
}

.detail-button {
    background-color: #1b1b46;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.detail-button {
    animation-duration: 1s;
    animation-name: grow;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }

.detail-button:hover {
    cursor: pointer;
    padding: 25px;
}