* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
 font-size: 100%;
}



/* For the nav bar */

nav {
    background-color: #282870;
}

#myButton::before {
    content: "\2630"
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    border: #1b1b46 solid 1px;
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
}

li.current-menu-item a {
    background-color:#1b1b46;
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

#myButton.open::before {
    content: "x";
}

ul.menuLinks.open {
    display: block;
    text-align: center;
}

/* For Header (minus nav) */

#city-logo {
    margin: 20px;
}

#city-header {
    color:#1b1b46;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
}

#city-title {
    text-align: center;
   
}

#american-fork {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

#hero-container {
    width: 100vw;
    height: 240px;
    position: relative;
}
#hero-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

#keynote-button {
    padding: 10px;
    background-color:#282870;
    text-align: center;
    color: white;
    border-radius: 15px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: 1px solid white;
    font-size: 24px;
}

#keynote-button:hover {
    cursor: pointer;
    border: 1px solid rgb(102, 102, 102);
}




/* footer */

footer {
    background-color: #282870;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer p {
    line-height: 25px;
}

.footer-info {
    margin: 20px
}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 20px;
   
    margin: 10px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px;
}

.label {
    color: rgb(14, 108, 249);
    padding-bottom: 10px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

#user-name {
    height: 30px;
}

legend {
    padding-top: 10px;
    padding-bottom: 5px;
}
textarea {
    height: 60px;
}

button {
    background-color:rgb(14, 108, 249);
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 24px;

}

footer {
    
    bottom: 0px;
}

.response {
    text-align: center;
    padding-top: 50px;
}

#membership-details {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: .25rem;
    padding:1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    z-index: -2;
    color: black;
   
}

#membership-details h3 {
    color: black;
    padding: 30px;
    font-size: 30px;
}

dialog p {
    padding: 10px;
    text-align: center;
}

dialog {
   
    width: 85%;
    height: 30%;
    top: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

dialog button {
    position: absolute;
    top: 20px;
    width: 45px;
    right: 20px;
    text-align: center;
}

#close-modal:hover {
   font-weight: bold;
   background-color: #1b1b46;
}

::backdrop {
    background-color: rgba(0,0,0,0,5);
}

dialog button {    
    padding: .5rem 1rem;
    border: 1px solid rgba(0,0,0,0.1);
}

#membership-types-contain {
    background-color: white;
    width: 80%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    flex-direction: column;
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.detail-button {
    background-color: #1b1b46;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.detail-button {
    animation-duration: 1s;
    animation-name: grow;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }

.detail-button:hover {
    cursor: pointer;
    padding: 25px;
}

