

@media screen and (min-width: 600px){
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    img {
        width: 400px;
    }

    nav {
        width: 50%;
    }

 

    
}