

@media screen and (min-width: 600px){
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    img {
        width: 400px;
    }

    nav {
        width: 50%;
    }

    #section-contain {
        width: 100%;
        display: flex;
       

    }

    .work {
        width: 60%;
        margin-left: 3%;
        margin-right: 3%
    }
    .utah {
        width: 30%
    }
    
    footer {
        width: 100%;
    }

    #course-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
 
      .course-item {
        width: 30%;
      }
      .cert-buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    
}